In [1]:
class A:
    a = 42
    b = -42

In [2]:
a = A()

In [3]:
getattr(a, 'a')

In [4]:
class A:
    a = 42
    b = -42
    def get_numbers(self):
        return self.a, self.b

In [5]:
getattr(a, 'get_numbers')

In [6]:
a = A()

In [7]:
getattr(a, 'get_numbers')

In [8]:
getattr(a, 'get_numbers')()

In [9]:
l = [1,2,3,4,5,6]

In [10]:
l[slice(None, None, -1)]

In [11]:
l[::-1]

In [12]:
l[0] = 42

In [13]:
l

In [14]:
a

In [15]:
a.extra_attr = '42'

In [16]:
a.extra_attr

In [17]:
str(a)